@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido</h1>
</div>

<div class="form-horizontal">
    <button onclick="location.href='@Url.Action("Index","Formulario")'">Acceder &raquo;</button>
</div>